.blue { color: #5ce1e6;}
.yellow { color:  #ffde59;}
.grey { color: #a6a6a6;}
.darkgrey { color:  #545454;}
.pink  { color: #ff66c4;}
.darkblue  { color: #1a4789;}
.purple  { color: #8c52ff;}
.orange  { color: #ffbd59;}
.white  { color: #f5fffa;}

p, h1, h2, h3, h4, h5, h6, q {
   font-family: 'Amaranth', sans-serif;
   color: #a6a6a6;
}

.navbar-menu {
   font-family: 'Chewy', sans-serif;
   text-transform: uppercase;
}

.brand {
   font-family: 'Chewy', sans-serif;
    font-size: 20pt;
}

#home {
    background: url('./images/home-bg-min.png') no-repeat;
    background-size: cover;
    background-color: #5ce1e6;
}

.home-title {
    font-family: 'Chewy', sans-serif;
    font-size: 100pt;
 }

 #about {
    background-color: #f5fffa;
 }

 #testmonies {
   background-color: #5ce1e6;
 }

 #help {
    background-color: #ffbd59;
 }

 .box {
    height: 350px;
    border-radius: 30px;
    box-shadow: 1px 6px 18px 5px rgba(10,10,10,.1);
 }

 .avatar {
   position: absolute;
   top: -25%;
   width: 125px;
   height: 125px;
 }

 .section-title {
   font-weight: bold;
   font-size: 50px;
 }

 .section-subtitle {
    font-size: 25px;
 }


 #testmonies .box {
    margin: 0 .5em;
    position: relative;
    display: flex;
    justify-content: center;
 }

 .testmonies-texts {
   padding: 3em 1.5em 1.5em 1.5em;
 }

 .testmonies-texts q {
    font-style: italic;
 }

 .testmonies-texts h2 {
   font-size: 22px;
   font-weight: bold;
 }
