.blue { color: #5ce1e6;}
.yellow { color:  #ffde59;}
.grey { color: #a6a6a6;}
.darkgrey { color:  #545454;}
.pink  { color: #ff66c4;}
.darkblue  { color: #1a4789;}
.purple  { color: #8c52ff;}
.orange  { color: #ffbd59;}
.white  { color: #f5fffa;}

p, h1, h2, h3, h4, h5, h6 {
   font-family: 'Amaranth', sans-serif;
}

.navbar-menu {
   font-family: 'Chewy', sans-serif;
   text-transform: uppercase;
}

.brand {
   font-family: 'Chewy', sans-serif;
    font-size: 20pt;
}

#home {
    background: url('./images/home-bg.png') no-repeat;
    background-size: cover;
    background-color: #5ce1e6;
}

.home-title {
    font-family: 'Chewy', sans-serif;
    font-size: 100pt;
 }

 #about {
    background-color: #f5fffa;
 }

 #testmonies {
   background-color: #5ce1e6;
 }

 #help {
    background-color: #ffbd59;
 }